body{
    background-image: url(event2.avif);
    background-attachment: fixed;
    background-attachment: fixed;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0% 0%  0% 35%;
}

#form{
    width: 400px;
    margin-top: 20vh auto 0 auto;
    background-color:darkgrey;
    border-radius: 5px;
    padding: 30px;
}
h1{
    text-align: center;
    color:maroon;
}
#form button{
    background-color: maroon;
    color: white;
    border:1px solid maroon;
    border-radius: 5px;
    padding:10px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group input{
    border-radius: 5px;
    font-size: 15px;
    margin-top: 5px;
    padding: 10px;
    border:1px solid maroon;
}
.input-group .error{
    color: red;
    font-size: 16px;
    margin-top: 5px;
}
.input-group.success input{
    border-color: #0cc477;
}
.input-group.error input{
    border-color: red ;
}